{% extends 'template/defaultTemplate.html.twig' %}

{% block page_title %}<title>Game List</title>{% endblock %}

{% block content %}
    <h1>Games list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{{ path('admin_game_show', { 'id': game.id }) }}">{{ game.id }}</a></td>
                <td>{{ game.name }}</td>
                <td>{{ game.description }}</td>
                <td>{{ game.image }}</td>
                <td>
                    <ul>
                        {% for tag in game.tags %}
                            <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_game_show', { 'id': game.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_game_edit', { 'id': game.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_game_new') }}">Create a new game</a>
        </li>
    </ul>
{% endblock %}
